body {
  background-color:hsl(212, 45%, 89%);
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

p {
  font-size:15px;
  font-weight: 400;
  color: hsla(219, 15%, 55%, 1);
  margin:0;
  padding:0;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}


div.bs-main {
  background-color: hsl(0, 0%, 100%);
  padding-top:12px;
  padding-bottom:12px;
  border-radius: 25px;
}
